{% extends 'baseTemplate.html' %}

{% block dashboard %}
    {% if user.is_authenticated %}
        <p>
            Ah I see, the negotiator {{ user.username }} has arrived! <br/>
            You seem to be from <b>{{ user.extendeduser.institute|default:'anonymous proxy' }}</b> <br/>
            What do you want to do? <br/>
            <a href="{% url 'logout' %}">Logout</a> <br/>
            <a href="{% url 'password_change' %}">Change password</a>
        </p>
        <hr/>
    {% else %}
        <p>
            The dashboard says you are not logged in.
            <a href="{% url 'login' %}">Login here</a>
        </p>
    {% endif %}
{% endblock %}
